html,body{
	font-family: roboto;
	margin: 0;
	padding: 0;
	border:none;
	height: 100%;
	width: 100%;
}

header{
	width: 100%;
	height: 100%;
	color:rgba(20,20,15,1);
	font-size: 8vmin;
	background-color: rgba(20,20,15,1);
	background-position: center;
	background-attachment: fixed;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
	box-shadow: inset 0 -0.8em 2em -1em rgba(0,0,0,0.6);
}


header>h1{
	width: 100%;
	text-align: center;
	box-shadow: 0 0 20px black;
	background-color:rgba(255, 187, 0,1);
}


header>svg{
	width: 10vmin;
	height: 10vmin;
	margin: 5vmin;
	position: absolute;
	bottom: 0;
	right: 0;
	fill: rgba(255, 187, 0,1);
	animation: 2s slideup infinite;
}

@keyframes slideup {
	from {
		transform: translate3d(0,0	vmin,0);
		opacity: 0;
	}
	to {
		transform: translate3d(0,-3vmin,0);
		opacity: 1;
	}
}

section{
	margin: auto;
	text-align: left;
	width: 70%;
	background-color: rgba(240,240,230,1);
}

section>h2{
	margin-left: 1em;
	font: bold 5em helvetica;
	text-shadow: 0 0 10px 4px;
}

section>p{
	text-indent: 10vmin;
	font: 2em roboto;
}

footer>span{
	font-size: 3vmin;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	background-color: rgba(20,20,15,1);
	color:white;
	min-height: 20vmin;
	text-align: center;
}